@page
@model Nevada.Pages.ViewModel
@{
}

<div class="align-content-center">
    <div class="col-3 mx-auto mb-5">
        <h1>@Model.ViewShoes.ShoeName</h1>
        <img src=@Model.ViewShoes.ImageTitle class=" w-100 mb-5" asp-append-version="true" />
        <br />
        <div class="container bg-secondary bg-opacity-10 py-2 mb-5 ImageEdit">
            <p>@Model.ViewShoes.Property</p>
            <br />
            <p>Size: @Model.ViewShoes.Size</p>
            <br />
            <p>@Model.ViewShoes.Price $</p>
            <br />
            @if (Model.ViewShoes.OutOfStock)
            {
                <p>Out of stock: Yes</p>
            }
            else
            {
                <p>Out of stock: No</p>
            }
        </div>
        <div class="container bg-secondary bg-opacity-10 py-2 mb-5 ImageEdit">
            @if (!Model.ViewShoes.OutOfStock)
            {
                <form method="post">
                    <h3>Type your information to buy shoes!</h3>

                    <div class="container mb-5">
                        <div class="mb-3">
                            <label for="customerName" class="form-label">Customer Name</label>
                            <input type="text" class="form-control" id="customerName" name="CustomerName" />
                        </div>
                        <div class="mb-3">
                            <label for="customerAddress" class="form-label">Customer Address</label>
                            <input type="text" class="form-control" id="customerAddress" name="CustomerAddress" />
                        </div>
                        <div class="mb-3">
                            <label for="customerPhone" class="form-label">Customer Phone</label>
                            <input type="text" class="form-control" id="customerPhone" name="CustomerPhone" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            }
            else
            {
                <p>Sorry, this item is currently out of stock and cannot be purchased.</p>
            }
        </div>
    </div>
</div>