@page
@model Nevada.Pages.Admin.Shoes.ListModel
@{
}
<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Shoes</h1>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>ShoeName</td>
                <td> </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var shoe in Model.Shoes)
            {
                <tr>
                    <td>@shoe.Id</td>
                    <td>@shoe.ShoeName</td>
                    <td><a href="/Admin/Shoes/Edit/@shoe.Id">View</a></td>
                </tr>
            }

        </tbody>
    </table>
</div>