@page
@model Nevada.Pages.Admin.Shoes.OrdersModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Orders</h1>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Shoe Name</td>
                <td>Price</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.ShoeOrders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.ShoeName</td>
                    <td>@order.Price</td>
                    <td><a href="/Admin/Shoes/EditOrders/@order.Id">View</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>