@page
@model Nevada.Pages.Forms.ConfirmOrderModel

<div class="text-center container">
    <h1>Fill your information!</h1>
    <form method="post" class="mx-auto mt-5 mb-5 px-5 pt-5 rounded-5 bg-light col-4 edit1 ">
        <div class="mt-5 mb-5 ">
            <input type="text" asp-for="User.Name"
                   placeholder="Enter your name" />
            <br />
        </div>
        <div class="mt-5 mb-5 ">
            <input type="text" asp-for="User.Address"
                   placeholder="Enter your Address" />
            <br />
        </div>
        <div class="mt-5 mb-5 ">
            <input type="text" asp-for="User.Phone"
                   placeholder="Enter your phone" />
            <br />
        </div>
        <div class="mt-5 shoe-img mb-5">
            <button class="btn btn-primary mt-1" type="submit">Finish</button>
            <br />
        </div>
        <p class="smallText"><i>We will call you soon!</i></p>
    </form>
</div>