@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-black text-capitalize">Welcome to Nevada</h1>
        <h2 class="mainSubTitle">Nevada, shoes for everyone!</h2>
    </div>
    <img class="mainImage" src="~/images/Shoes.jpg" />
    <br />
    <a class="btn btnEdit btnEdit1" asp-area="" asp-page="Shoe">Pick your shoes</a>
</div>



